@font-face {
  font-family: "Playfair Display";
  src: url("/fonts/PlayfairDisplay-Regular.ttf") format("truetype"),
    url("/fonts/PlayfairDisplay-Bold.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
  font-weight: 100;
}

@font-face {
  font-family: "Work Sans";
  src: url("/fonts/WorkSans-Light.ttf") format("truetype"),
    url("/fonts/WorkSans-Regular.ttf") format("truetype"),
    url("/fonts/WorkSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
  font-weight: 100;
}
