html, body
  background-color: $ne-95
  font-family: $ft-main

.l-base
  position: relative
  margin-top: 30px
  margin-bottom: 50px

  +responsive(1024)
    margin-top: 0

  &__profile
    position: fixed
    width: 300px
    // height: 300px

    +responsive(1024)
      position: relative
      width: 100%

  &__body
    position: relative
    left: 300px
    width: 670px

    +responsive(1024)
      width: 100%
      left: 0
