/*------------------------------------*\
	CURRICULUM VITAE
\*------------------------------------*/

body, html {
	height: 100%;
	position: relative;
	font-family: 'Roboto', sans-serif;
}

.wrapper {
	max-width: 1024px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 20px;
	padding-left: 20px;
}

.min-wrapper {
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 20px;
	padding-left: 20px;
}

/* MODULAR
-----------------------------------------*/

h2 {
	font-size: 48px;
	padding-bottom: 20px;
	padding-top: 10px;
}

h3 {
	font-size: 30px;
	padding-bottom: 10px;
	padding-top: 10px;
}

h4 {
	padding-bottom: 15px;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	font-style: italic;
}

p {
	font-size: 18px;
	line-height: 25px;
}

strong {
	font-weight: 700;
}

a,
a:hover,
a:focus,
a:visited {
	text-decoration: none;
	color: #000;
	outline: none;
}


/* LUCAS
-----------------------------------------*/
header {
	background: transparent url(../imgs/header-bg.jpg) center bottom no-repeat;	
}

.me	{
	padding-top: 50px;
}

.me img {
	display: block;
	width: 150px;

	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
	border-radius: 50%;

	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;

}

.me div {
	width: 100%;
	text-align: center;
	margin-bottom: 50px;
}

.me div p {
	color: #727272;
}

.menu {
	background-color: transparent;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

.menu ul li {
	float: left;
	width: 14.285714286%;
	/*width: 16.666666667%;*/
	/*width: 20%;*/

	margin-right: auto;
	margin-left: auto;
}

.menu a {
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;

	font-size: 18px;
	text-align: center;
	text-transform: uppercase;

	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}

.menu a:hover {
	color: #e91e63;
}

.menu.fixed {
	width: 100%;
	display: none;
	position: fixed;
	z-index: 999;
	/*background-color: #fff;*/
	background-color: rgba(255,255,255,0.98);
}

/* ESTUDIOS
-----------------------------------------*/

.formacion img {
	display: block;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
}

.formacion span {
	display: block;
	font-size: 14px;
	text-align: center;
}

.studies div {
	float: left;
	padding: 40px 15px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.studies div h3 {
	padding-bottom: 20px;
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}

.studies div:hover h3 {
	color: #e91e63;
}

.studies div:first-child {
	width: 15%;
}

.studies div:not(:first-child) {
	width: 28.333333333%;
}

.studies div p span {
	font-weight: 700;
	font-size: 14px;
	font-style: italic;
}

/* FRONTEND
-----------------------------------------*/

.frontend {
	background: #333 url(../imgs/footer_lodyas.png) center top fixed;
	-webkit-background-size: 500px;
	background-size: 500px;
	padding-top: 80px;
	padding-bottom: 80px;
}

.frontend div div:first-child {
	float: left;
	width: 60%;
	color: #fff;
}

.frontend .img-cont {
	float: right;
	width: 35%;
	margin-right: 5%;

	-webkit-transition: all 0.8s ease 0s;
	-moz-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
	transition: all 0.8s ease 0s;
}

.frontend img {
	width: 100%;
	max-width: 350px;
}

.frontend:hover .img-cont {
	margin-right: 0;
}

.frontend h2 {
	color: #CD6870;
}

.frontend a {
	color: #CD6870;
}

.front-sub {
	opacity: 0.5;
	font-weight: 300;
}

/* CG ARTIST
-----------------------------------------*/

.cgartist {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #000;
	color: #fff;
	text-align: center;
	line-height: 25px;
}

.cgartist span {
	opacity: 0.5;
	font-size: 12px;
}

.cgartist a {
	color: #e91e63;
	font-size: 14px;
	margin-right: 10px;
	margin-left: 10px;

	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.cgartist a:hover {
	color: #009688;
}

/* INTERESTS
-----------------------------------------*/
.interests div {
	position: relative;
	float: left;
	width: 25%;
	height: 350px;
	padding: 100px 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	
}

.interests div span {
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding: 20px 10px; 
	
	text-align: center;
	font-weight: 700;
	font-size: 40px;
}

.interests div p {
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
	
	background-color: rgba(0,0,0,0.8);
	
	color: #fff;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	margin-top: 20px;
}

.ux {
	background: transparent url(../imgs/mapux.png) center top;
	-webkit-background-size: 200px;
	background-size: 200px;
}

.ux span {
	color: #fff;
	font-style: italic;
	background-color: #e91e63;
}

.branding {
	background: transparent url(../imgs/branding.png) center top;
	-webkit-background-size: 400px;
	background-size: 400px;
}

.branding span {
	color: #333;
	font-style: italic;
	background-color: #cddc39;
}

.di {
	background: transparent url(../imgs/wood.png) center top;
	-webkit-background-size: 400px;
	background-size: 400px;
}

.di span {
	color: #333;
	font-style: italic;
	background-color: #fff;
}

.opensource {
	background: transparent url(../imgs/code.jpg) center top;
	-webkit-background-size: 400px;
	background-size: 400px;
}

.opensource span {
	color: #fff;
	font-style: italic;
	background-color: #009688;
}

/* TEACH
-----------------------------------------*/

.teach {
	text-align: center;
	padding-top: 90px;
	padding-bottom: 90px;
}

.teach h2 {
	color: #ff593d;
}

.teach h4 {
	margin-bottom: 30px;
}

.teach p, .teach span {
	color: #727272;
	margin-bottom: 10px;
}

.teach span {
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 14px;
}

.teach img {
	margin-top: 60px;
}

/* OTHERS
-----------------------------------------*/

.others {
	padding-top: 50px;
	padding-bottom: 50px;
	background: transparent url(../imgs/neutral.png) center top;
}

.others div > h4 {
}
.others div > p {
	color: #727272;
	font-size: 16px;
}

.others ul {
	margin-top: 30px;
}

.others ul li {
	color: #727272;
	margin-bottom: 10px;
	list-style-type: square;
	margin-left: 16px;
	
}
.others strong {
	font-weight: 400;
	color: #000;
}

.others a {
	color: #e91e63;
}

.others h3 {
	padding-top: 100px;
	padding-bottom: 50px;
	text-align: center;
	color: #e91e63;
}

.others span {
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	cursor: pointer;
}

.touch a {
	display: block;
	
	margin-top: 60px;
	margin-bottom: 30px;
	color: #000 !important;
	font-size: 10px !important;
	opacity: 0.2;
}

/* STICKY FOOTER
-----------------------------------------*/

/*.page {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -250px;
}

footer, .push {
	height: 250px;
}
*/

/* RESPONSIVE
-----------------------------------------*/

@media screen and (max-width: 960px) {
	.interests div {
		width: 50%;
	}
}

@media screen and (max-width: 768px) {
	.studies {
		padding-bottom: 60px;
	}

	.studies div:first-child {
		padding-top: 100px;
		width: 100%;
	}

	.studies h3,
	.studies p {
		text-align: center;
	}

	.dm {
		width: 100% !important;
		text-align: center;
	}

	.dm h3 {
		font-size: 50px;
		color: #e91e63;
	}

	.studies div:not(:first-child) {
		width: 50%;
	}

	.frontend {
		background-attachment: scroll;
	}

	
	.frontend div div:first-child {
		text-align: center;
		width: 100%;
	}

	.frontend .img-cont {
		float: left;
		width: 100%;
		margin-top: 50px;
		
	}

	.frontend img {
		display: block;
		
		margin-right: auto;
		margin-left: auto;
		padding-right: 0;
	}
}

@media screen and (max-width: 640px) {
	.me h4 {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.studies div:not(:first-child) {
		width: 100%;
	}

	.interests div {
		width: 100%;
	}

	.teach h2 {
		font-size: 32px;
	}
}

@media screen and (max-width: 480px) {
	.me h3 {
		padding: 0 40px;
		font-size: 38px;
	}

	.menu.fixed ul li {
		width: 14.285714286%;
	}

	.menu.fixed ul li a {
		font-size: 16px;
	}

}

@media screen and (max-width: 320px) {
	h2 {
		font-size: 40px;
	}

	.me h3 {
		padding: 0 15px;
		font-size: 35px;
	}

	.frontend p {
		font-size: 16px;
	}
}
