.c-cv
  @extend %bbx
  padding: 40px
  background-color: #fff
  box-shadow: -5px 5px 10px transparentize($ne-base, 0.95)
  border-radius: 5px

  +responsive(1024)
    padding-left: 15px
    padding-right: 15px

  &__divider
    border-bottom: 1px solid $ne-95
    margin-top: 40px
    margin-bottom: 40px

  &__header
    margin-bottom: 20px

  &__footer
    margin-top: 20px

  &__menu
    margin-top: 30px

    a
      font-size: 0.8em

  &__article
    &_experience
      margin-top: 20px
