.c-profile
  width: 270px
  background-color: $br-main
  background-image: url('../img/pattern/pattern3.png')
  background-size: cover
  background-position: center center
  background-repeat: no-repeat
  border-radius: 5px
  box-shadow: -5px 5px 10px transparentize($ne-base, 0.95)
  text-align: center

  +responsive(1000)
    width: 100%

  &__photo
    display: flex
    align-items: flex-start
    justify-content: center
    @extend %bbx
    padding: 30px
    padding-bottom: 10px
    // background-color: $br-main

    img
      max-width: 80%
      border-radius: 200px

      +responsive(768)
        max-width: 50%

  &__body
    @extend %bbx
    padding: 30px

  &__name
    margin: 0
    margin-bottom: 15px
    font-size: 1.7em
    font-weight: 700

  &__job-title
    margin: 0
    margin-top: 15px
    margin-bottom: 15px

  &__social
    margin: 0
    margin-top: 15px
    display: flex
    align-items: center
    justify-content: space-around
    flex-direction: row

    li
      margin-right: 10px
      margin-left: 10px
      font-size: 1.2em


  &__donation
    background-color: #fff
    padding-top: 10px
    padding-bottom: 15px

    +responsive(768)
      padding-top: 50px
